*.csv*
*.ped*
*.tsv*
*.xlsx*
*.docx*
*.doc*
*.txt*
*.pdf*
*.html*
*.xml*
*.rar*
*.zip*
*.xls*
*.yml*
*.yaml*
*.json*
*.fam*
*.bam*
*.bed*
*.bim*
*.RData*
*.rdata*
*.Rdata*
*.RDa*
*.PED*
*.Rhistory
*Rproj
.Rproj.user
